@import "../variables.scss";

#theme-site {
  position: relative;

  #public-page {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    min-height: $content-height;
    justify-content: center;

    #left-list {
      max-width: 420px;
      min-width: 420px;
      height: 100%;

      margin-right: $margin * 4;

      // .job-list {
      //   font-size: .75rem;
      // }
    }


    #right-list {
      width: 640px;

      height: 100%;

      &.active {
        width: 100%;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      height: $content-height;

      // .job-list {
      //   overflow-y: scroll;
      //   /*Hack because W3C overflow spec is broken (auto on the other dimension
      //   https://stackoverflow.com/questions/6421966/css-overflow-x-visible-and-overflow-y-hidden-causing-scrollbar-issue
      //   */
      //   padding: 10px 12px 10px 10px;
      //   margin: -10px;
      // }
    }
  }

  #click-handler {
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
  }

  #control-center {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 20px;
    width: 100%;
    background: white;
    z-index: 999;

    #delete {
      margin-right: 1rem;
    }
  }

  &.centered {
    margin-top: 0px;
  }

  .card {
    width: 100%;
    cursor: pointer;

    .header {
      display: flex;
      justify-content: space-between;
    }
  }

  #control-center {
    flex-direction: column;
    align-items: flex-start;
  }

  #control-center {
    margin-bottom: 1.5rem;

  }

  #public-search {
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    padding: 1rem;
    border-radius: $border-radius;

    // margin-left: .75rem;
    &:focus {
      border-color: $blue;
    }

  }
}