@import "../variables/colors.scss";
@import "../variables/margins.scss";

#theme-site {
  position: relative;

  #public-page {
    width: $atom-width * 3;

    #click-handler {
      width: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
    }

    #control-center {
      display: flex;
      align-items: center;

      #delete {
        margin-right: 1rem;
      }
    }

    &.centered {
      margin-top: 0px;
    }

    .card {
      width: 100%;
      cursor: pointer;

      .header {
        display: flex;
        justify-content: space-between;
      }
    }

    #control-center,
    #public-search {
      margin-bottom: 1.5rem;
    }

    #public-search {
      width: 100%;
      border: 0px;
      border-bottom: 1px solid $light-gray;
      border-radius: 0px;

      &:focus {
        border-color: $blue;
      }
    }
  }
}