@import "../variables/colors.scss";
@import "../variables/margins.scss";

#theme-site {
  position: relative;

  #public-page {
    width: $atom-width * 3;

    #click-handler {
      width: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
    }

    &.centered {
      margin-top: 0px;
    }

    .card {
      width: 100%;
      cursor: pointer;
    }


    #public-search {
      margin-bottom: 2rem;
      width: 100%;
      border: 0px;
      border-bottom: 1px solid $light-gray;
      border-radius: 0px;

      &:focus {
        border-color: $blue;
      }
    }
  }
}