@import './variables/colors.scss';

#theme-site {

  a,
  .link-button,
  button {
    color: $black;
    cursor: pointer;
    text-decoration: none;

    &.active,
    &:hover {
      color: $gray;
    }
  }

  i.material-icons {
    cursor: pointer;
  }

  button {
    outline: none;
    /* border: none; */
    /* display: inline-block; */
    /* width: 20px; */
    border: 1px solid $black;
    background-color: $white;
    padding: 10px;
    border-radius: 3px;
    line-height: 1;

    &:focus,
    &:hover {
      border-color: $gray;
    }

    &:disabled {
      color: $light-gray;
      border-color: $light-gray;
      cursor: default;

      &:focus,
      &:hover {
        border-color: $light-gray;
        color: $light-gray;
      }
    }

    &.icon-button {
      border-radius: 50%;
      height: 2.5rem;
      padding: 0px;
      width: 2.5rem;
    }

    &.red:not(:disabled) {
      color: $light-red;
      border-color: $light-red;

      &:hover,
      &:focus {
        color: $red;
        border-color: $red;
      }
    }
  }

  &.dark {
    a {
      color: $white;
      background-color: $black;
    }

    button {
      border: 1px solid $white;
      background: $black;
    }

    .link-button,
    button {
      color: $white;
    }
  }
}