@import "styles/variables.scss";
@import "styles/variables.scss";


#theme-site {
  .card {
    min-width: $atom-width;
    max-width: $atom-width * 6;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: $border-radius;
    /*https://codepen.io/BastianAndre/pen/PzwEYe*/
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    .mdc-card__actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      min-height: 52px;
      padding: 8px;
    }

    &.shadow1 {
      box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, .2),
        0 1px 1px 0 rgba(0, 0, 0, .14),
        0 2px 1px -1px rgba(0, 0, 0, .12);

      /*https://codepen.io/BastianAndre/pen/PzwEYe*/
      &:hover {
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.22)
      }


      &.selected {
        // box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.25), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -1px rgba(0, 0, 0, 0.12)
        border-bottom: 2px solid $light-blue;
        margin-bottom: -2px;
      }
    }

    +.card {
      margin-top: 1.25rem;
    }


    .content {
      padding: 0px;
      margin: 16px;
      display: flex;
    }

    .header {
      text-align: left;
      overflow: visible;
      word-wrap: break-word;
      text-overflow: ellipsis;

      margin: 1rem 1.25rem;
      flex: 1 1 auto;

      &.column {
        flex-direction: column;
      }
    }

    .content {
      margin: 1rem 1.25rem;

      flex-direction: column;
    }

    .header+.content {
      margin-top: 0px;
    }

    .row {
      display: flex;

      .left {
        width: 15%;
      }

      .right {
        width: 85%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      +.row {
        margin-top: .3125rem;
      }
    }

    .content {
      display: flex;
    }


  }

  &.dark {
    .card {
      &.shadow1 {
        box-shadow: none;
        border: 1px solid rgba(255, 255, 255, .5)
      }
    }
  }
}