@import './variables.scss';

#theme-site {
  select {
    cursor: pointer;
  }

  input {
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid $light-gray;
    // border-radius: 3px;
    appearance: none;
    width: 100%;
  }

  .input-container {
    margin: 18px 0;

    +.input-container {
      margin-top: 0px;
    }
  }

  input:focus {
    outline: none;
    border-bottom: 1px solid $blue;
  }


  &.dark {
    input {
      border-color: $white;
      background: $black;
    }

    input,
    input::placeholder {
      color: $white;
    }
  }
}