@import './variables/colors.scss';

#theme-site {
  input {
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid $light-gray;
    // border-radius: 3px;
    appearance: none;
  }

  input:focus {
    outline: none;
    border-bottom: 1px solid $blue;
  }


  &.dark {
    input {
      border-color: $white;
      background: $black;
    }

    input,
    input::placeholder {
      color: $white;
    }
  }
}