@import 'variables/typeography.scss';
@import 'variables/colors.scss';

html {
  font-size: 16px;
}

#theme-site {
  font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: $weight-normal;
  font-size: 0.875rem;

  .subheader {
    font-weight: $weight-medium;
  }

  .material-icons {
    font-size: 1.725rem;
  }

  a {
    color: $light-blue;

    &.active,
    &:hover {
      color: $blue;
    }
  }

  b,
  strong {
    font-weight: $weight-heavy;
  }

  .primary {
    color: $light-blue
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    font-weight: $weight-normal;
  }

  h1 {
    font-weight: $weight-light;
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.875rem;
  }

  h3 {
    font-size: 2.125rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  .subtitle-1 {
    font-size: .8125rem;
    letter-spacing: 0.15;
  }

  .subtitle-2 {
    font-size: .75rem;
    font-size: $weight-medium;
  }

  &.dark {
    color: $white;
  }
}