@import 'variables/typeography.scss';
@import 'variables/colors.scss';

html {
  font-size: 16px;
}

#theme-site {
  font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: $weight-light;
  font-size: 0.875rem;

  a {
    color: $blue;
  }

  b {
    font-weight: $weight-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    font-weight: $weight-heavy;
  }

  h1 {
    font-size: 4.5rem;
    margin-left: -5px;
  }

  h2 {
    font-size: 3.75rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  .subtitle-1 {
    font-size: .8125rem;
    letter-spacing: 0.15;
  }

  .subtitle-2 {
    font-size: .75rem;
    font-size: $weight-medium;
  }

  &.dark {
    color: $white;
  }
}