@import 'variables.scss';

html {
  font-size: 16px;
}

#theme-site {
  font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: $weight-normal;
  font-size: 0.875rem;

  a {
    color: $light-blue;

    &.active,
    &:hover {
      color: $blue;
    }
  }

  b,
  strong {
    font-weight: $weight-heavy;
  }

  .primary {
    color: $light-blue
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    font-weight: $weight-normal;
    // line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h1 {
    font-weight: $weight-light;
    font-size: 4.5rem;
    // margin-top: -14px;
    margin-left: -7px;
  }

  h2 {
    font-size: 2.875rem;
    margin-left: -3px;
    // margin-top: -9px;
  }

  h3 {
    font-size: 2.125rem;
    margin-left: -1px;
    // margin-top: -7px;
  }

  h4 {
    font-size: 1.5rem;
    // margin-left: -1px;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  .subheader {
    margin-top: $margin;
    font-weight: $weight-medium;
  }

  // .subtitle-1 {
  //   font-size: .8125rem;
  //   letter-spacing: 0.15;
  // }

  // .subtitle-2 {
  //   font-size: .75rem;
  //   font-size: $weight-medium;
  // }

  &.dark {
    color: $white;
  }
}