@import "./variables/colors.scss";
@import "./variables/margins.scss";

#theme-site {
  a {
    text-decoration: none;
    color: inherit;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .link-button,
  button {
    background-color: inherit;
    border: 1px solid inherit;
    padding: $margin * 2 / 3;
    border-radius: 3px;
    &:focus,
    &:hover {
      border-color: $devil-gray;
    }
  }

  a,
  .link-button,
  button {
    &.active,
    &:focus,
    &:hover {
      color: $devil-gray;
    }
  }
}
