$margin: .875rem;
$display-width: 1920px;
$atom-width: $display-width / 8;
$header-height: 50px;
$main-height: calc(100vh - #{$header-height} * 2);
$main-padding: 0.875rem;
$content-height: calc(100vh - #{$main-padding} * 2 - #{$header-height} * 2);


$headerMarginTopBottom: 20px;

$formWidth: 320px;

$buttonLeftRightPadding: 10px;