@import '../../variables.scss';

#theme-site {
    #anayses-item-page {
        width: 100%;

        ol {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0px;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
            }


        }

        #controls-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: -47px;
        }

        .subheader {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        select {
            width: 48%;
            appearance: none;
            padding: 10px 2px;
            background: inherit;
            border: none;
            border-bottom: 1px solid $black;
            border-radius: 0px;
        }

        .row {
            align-items: center;
            display: flex;
            justify-content: space-around;

            &.header {
                justify-content: flex-start
            }
        }

        #analysis-chain {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: space-between;
            position: relative;

            .link {
                cursor: pointer;
                font-size: 1.725rem;
                flex-basis: 300PX;
                border: 1px solid $light-gray;
                margin: 0 20px;
            }

            .side-item-wrap .analysis-item {
                flex-basis: 200px;
            }

            .side-item-wrap.highlight {
                .card.shadow1 {
                    box-shadow:
                        0 1px 3px 0 $light-blue,
                        0 1px 1px 0 $light-blue,
                        0 2px 1px -1px $light-blue;
                }

                .link {
                    border-color: $light-blue;
                }
            }

            #header-details {
                margin-left: $margin;
                margin-right: -16px;
                // margin-top: -10px;
                // align-self: flex-start;
                // display: flex;
                // height: 94px;
                // justify-content: space-between;
                // flex-direction: column;

                button+button {
                    margin-top: 5px;
                }

            }

            .analysis-item {

                &.before {


                    +.analysis-item:before {
                        content: "";
                        width: 200px;
                        height: 1px;
                        position: absolute;
                        left: -250px;
                        top: 50%;
                        border: 1px solid #d4d4d4;
                    }
                }

                +.analysis-item.after {


                    &:before {
                        content: "";
                        width: 200px;
                        height: 1px;
                        position: absolute;
                        left: -250px;
                        top: 50%;
                        border: 1px solid #d4d4d4;
                    }

                }


            }
        }

        .side-item-wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-basis: 16.67%;

            &.before {
                padding-right: 0px;
                margin-right: 0px;

                &.more:before {
                    content: "";
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    border: 1px solid #aeaeae;
                    left: -100px;
                }
            }

            &.after {
                padding-left: 0px;
                margin-left: 0px;

                &.more:before {
                    content: "";
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    border: 1px solid #aeaeae;
                    right: -100px;
                }
            }
        }

        .center-item-wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 66.67%;

        }


        .l-flex {
            overflow-x: hidden;
        }

        .l-fg3 {
            display: flex;
            flex-wrap: wrap;

            @media (min-width: 600px) {
                margin: -10px;
            }

            >div {
                padding: 1.5rem;
                flex-basis: 100%;

                @media (min-width: 600px) {
                    margin: 10px;
                    flex-basis: calc(33.333% - 20px);
                }
            }

            >div+div {
                @media (max-width: 599px) {
                    margin-top: 20px;
                }
            }




        }


    }
}