@import '../../variables.scss';

#theme-site {
    #anayses-item-page {
        ol {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0px;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
            }


        }

        #header-details {
            margin-left: $margin;
        }

        select {
            width: 48%;
            appearance: none;
            padding: 10px 2px;
            background: inherit;
            border: none;
            border-bottom: 1px solid $black;
            border-radius: 0px;
        }
    }
}